{% extends "dashboard.html" %} 
{% block content%} 
{% load static %}

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  form {
    max-width: 600px;
    margin: auto;
  }

  label {
    display: block;
    margin-top: 0px;
    font-size: medium;

  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
  
    box-sizing: border-box;
    border: 0px;
  }

  input[type="submit"] {
    background-color: #fa5a42;
    color: white;
    cursor: pointer;
    width: 20%;
    margin: auto;
  }

  input[type="submit"]:hover {
    background-color: #fff;
    color: #fa5a42;
    border: 2px solid #fa5a42;
  }

  .row{

    margin-left: 0px;

  }
  .form-control[readonly]{
    border: 1px solid rgb(170, 170, 170);
    opacity: 1;
    background-color: #a19c9c94;
    border-radius: 0px;
  }

  
</style>


<div class="container" style="background-color:white; border-radius: 5px;padding:10px; border: 2px solid #fa5a42; ">


      <div class="mb-3" style="text-align: center;padding:10px; border-bottom:2px solid #fa5a42">
        <h4>Customer Query Details</h4>

      </div>

        <form id="queryForm" class="row g-3" style="max-width: 100%; margin:auto;" method="post" action="{% url 'query_form' %}">
          {% csrf_token %}

            <div class="row" style="background-color: #fa5a42; color:#fff;">
              <div class="col-2">
                <label for="urgency">Importance:</label>
              </div>

            {% for checkbox in form.urgency %}
            <div class="col">
              <div class="form-check form-check-inline">
                {{ checkbox }}
                <!-- <label class="form-check-label" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label> -->
              </div>
            </div>
              
            {% endfor %}
            </div>

            <div class="col-md-8">
               <div class="row">
                     <div class="col-md-12">
                      {{ form.category.label_tag }}
                      {{ form.category }}
                    </div>
                    <div class="col-md-12">
                      {{ form.query.label_tag }}
                      {{ form.query }}
                    <button class="btn" style="width: 20%; font-size: small; border:1px solid #fff;padding:0px;float:right;margin-top:3px;color:#fff;background-color:#fa5a42" type="button" onclick="toggleVisibility()">+ Other Query</button>
                    </div>
                   

                    <div class="col-md-12" id="otherQueryContainer" style="display: none;">
                      {{ form.other_query.label_tag }}
                      {{ form.other_query }}
                    </div>
                    <div class="col-md-12">
                      {{ form.remarks.label_tag }}
                      {{ form.remarks }}
                    </div>

              </div>

             
              
            </div>
            <div class="col-md-4">
               <div class="row">
                     <div class="col-md-12">
                      {{ form.complain_id.label_tag }}
                      {{ form.complain_id }}
                    </div>
                    <div class="col-md-12">
                      {{ form.customer_id.label_tag }}
                      {{ form.customer_id }}
                    </div>
                    <div class="col-md-12">
                      {{ form.complained_through.label_tag }}
                      {{ form.complained_through }}
                    </div>
                    <div class="col-md-12">
                      {{ form.name.label_tag }}
                      {{ form.name }}
                    </div>

              </div>
              
            </div>

     

              <input class="btn" type="submit" value="Submit" />
        </form>

        
  
</div>





<script>
          // Function to update query dropdown based on selected category
          function updateQueryDropdown() {
            var categorySelect = document.getElementById("id_category");
            var querySelect = document.getElementById("id_query");
            var selectedCategory =
              categorySelect.options[categorySelect.selectedIndex].value;

            // Make AJAX request to get queries based on the selected category
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                // Update the query dropdown with the received data
                var data = JSON.parse(xhr.responseText);
                
                querySelect.innerHTML = "";
                data.queries.forEach(function (query) {
                  var option = document.createElement("option");
                  option.value = query;
                  option.text = query;
                  querySelect.add(option);
                });
              }
            };

            // Replace 'your_get_queries_url' with the actual URL to your get_queries endpoint
            xhr.open(
              "GET",
              "http://127.0.0.1:8000/get_queries/?category=" + selectedCategory,
              true
            );
            xhr.send();
          }

          // Attach the function to the change event of the category dropdown
          document.getElementById("id_category").addEventListener("change", updateQueryDropdown);

          // Initial call to populate the query dropdown based on the default selected category
          updateQueryDropdown();
</script>


<script>
    function raiseTickt() {
        // Get the ID from the input field
        var id = document.getElementById('inputField').value;

        // Validate if the ID is not empty
        if (id.trim() === '') {
            alert('Please enter a valid ID.');
            return;
        }

        // Build the URL for the form view with the provided ID
        var formUrl = "{% url 'dashboard' %}?id=" + id;

        // Redirect to the form URL in the same window
        window.location.href = formUrl;
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $('.form-check-input').click(function () {
      // Uncheck all other checkboxes in the same row
      $(this).closest('.row').find('.form-check-input').not(this).prop('checked', false);
    });
  });
</script>

<script>
  function toggleVisibility() {
    var otherQueryContainer = $('#otherQueryContainer');
    otherQueryContainer.toggle();
  }
</script>
<!-- <script>
  $(document).ready(function() {
    $('.id_query').select2({
      width: '100%',  // Set the width to 100% or adjust as needed
    });
  });
</script> -->
{% endblock content %}
