{% extends "dashboard.html" %} 
{% block content%} 
{% load static %}

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  form {
    max-width: 600px;
    margin: auto;
  }

  label {
    display: block;
    margin-top: 0px;
    font-size: medium;

  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
  
    box-sizing: border-box;
    border: 0px;
  }

  input[type="submit"] {
    background-color: #fa5a42;
    color: white;
    cursor: pointer;
    width: 20%;
    margin: auto;
  }

  input[type="submit"]:hover {
    background-color: #fff;
    color: #fa5a42;
    border: 2px solid #fa5a42;
  }

  .row{

    margin-left: 0px;

  }
  .form-control[readonly]{
    border: 1px solid rgb(170, 170, 170);
    opacity: 1;
    background-color: #a19c9c94;
    border-radius: 0px;
  }

  
</style>


<div class="container" style="background-color:white; border-radius: 5px;padding:10px; border: 2px solid #fa5a42; ">


      <div class="mb-3" style="text-align: center;padding:10px; border-bottom:2px solid #fa5a42">
        <h4>Customer Query Details</h4>

      </div>

        <form id="queryForm" class="row g-3" style="max-width: 100%; margin:auto;" method="post" action="{% url 'query_form' %}" novalidate>
          {% csrf_token %}

            <div class="row" style="background-color: #fa5a42; color:#fff;">
              <div class="col-2">
                <label for="urgency">Importance:</label>
              </div>

            {% for checkbox in form.urgency %}
            <div class="col">
              <div class="form-check form-check-inline">
                {{ checkbox }}
                <!-- <label class="form-check-label" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label> -->
              </div>
            </div>
              
            {% endfor %}
            </div>

            <div class="col-md-8">
               <div class="row">
                     <div class="col-md-12" id="query-container">
                      <div class="query-row">
                        {{ form.category.label_tag }}
                        {{ form.category }}
                      </div>

                      <div class="query-row">
                        {{ form.query.label_tag }}
                        {{ form.query }}
                      </div>
                    </div>

                    <div class="col-md-12" id="otherQueryContainer" style="display: none;">
                      {{ form.other_query.label_tag }}
                      {{ form.other_query }}
                      <button style="width: 20%; font-size: small; border:1px solid #fff;padding:0px;float:right;margin-top:3px;color:#fff;background-color:#fa5a42" type="button" id="generateQuestionBtn">Generate Random Question</button>
                    </div>
                    

                    <div class="col-md-12">
                        <button class="btn" style="width: 20%; font-size: small; border:1px solid #fff;padding:0px;float:right;margin-top:3px;color:#fff;background-color:#fa5a42" type="button" onclick="saveQuery()">Save</button>
                        <button class="btn" style="width: 20%; font-size: small; border:1px solid #fff;padding:0px;float:right;margin-top:3px;color:#fff;background-color:#fa5a42" type="button" onclick="toggleVisibility()">+ Other Query</button>
                    </div>
                    <!-- <button class="btn" type="button" onclick="addQuery()">+ Add Query</button> -->
                  
                    <!-- Display saved queries -->
                    <div id="saved-queries" style="border: 1px solid #fa5a42; margin-top:7px;">

                      <p id="alert" style="background-color: green; color:white; margin:0px;font-size:smaller;margin-top:5px;text-align:center;"> <strong></strong></p>
                      <p> <strong>Saved Queries</strong></p>
                      <ol id="query-list"></ol>
                    </div>

                    <!-- <button class="btn" style="width: 20%; font-size: small; border:1px solid #fff;padding:0px;float:right;margin-top:3px;color:#fff;background-color:#fa5a42" type="button" onclick="addQuery()">+ Add Query</button>
                    <button class="btn" style="width: 20%; font-size: small; border:1px solid #fff;padding:0px;float:right;margin-top:3px;color:#fff;background-color:#fa5a42" type="button" onclick="removeQuery(this)">- Remove Query</button> -->



                    <div class="col-md-12">
                      {{ form.remarks.label_tag }}
                      {{ form.remarks }}
                    </div>

              </div>

             
              
            </div>
            <div class="col-md-4">
               <div class="row">
                     <!-- <div class="col-md-12">
                      {{ form.complain_id.label_tag }}
                      {{ form.complain_id }}
                    </div> -->
                    <div class="col-md-12">
                      {{ form.customer_id.label_tag }}
                      {{ form.customer_id }}
                    </div>
                    <div class="col-md-12">
                      {{ form.complained_through.label_tag }}
                      {{ form.complained_through }}
                    </div>
                    <div class="col-md-12">
                      {{ form.name.label_tag }}
                      {{ form.name }}
                    </div>
                    <div class="col-md-12">
                      {{ form.mobile_no.label_tag }}
                      {{ form.mobile_no }}
                    </div>

              </div>
              
            </div>
            
            <input type="hidden" name="stored_queries" id="stored-queries-input" value="">

            <div class="col-md-8" >
              <button class="btn" id="submit-btn" name="submit-btn" type="submit" value="Submit" onclick="validateForm()">Submit</button>
            </div>

             
        </form>

        
  
</div>





<script>
          // Function to update query dropdown based on selected category
          function updateQueryDropdown() {
            var categorySelect = document.getElementById("id_category");
            var querySelect = document.getElementById("id_query");
            var selectedCategory =
              categorySelect.options[categorySelect.selectedIndex].value;

            // Make AJAX request to get queries based on the selected category
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                // Update the query dropdown with the received data
                var data = JSON.parse(xhr.responseText);
                
                querySelect.innerHTML = "";
                data.queries.forEach(function (query) {
                  var option = document.createElement("option");
                  option.value = query;
                  option.text = query;
                  querySelect.add(option);
                });
              }
            };

            // Replace 'your_get_queries_url' with the actual URL to your get_queries endpoint
            xhr.open(
              "GET",
              "http://127.0.0.1:8000/get_queries/?category=" + selectedCategory,
              true
            );
            xhr.send();
          }

          // Attach the function to the change event of the category dropdown
          document.getElementById("id_category").addEventListener("change", updateQueryDropdown);

          // Initial call to populate the query dropdown based on the default selected category
          updateQueryDropdown();
</script>


<script>
    function raiseTickt() {
        // Get the ID from the input field
        var id = document.getElementById('inputField').value;

        // Validate if the ID is not empty
        if (id.trim() === '') {
            alert('Please enter a valid ID.');
            return;
        }

        // Build the URL for the form view with the provided ID
        var formUrl = "{% url 'dashboard' %}?id=" + id;

        // Redirect to the form URL in the same window
        window.location.href = formUrl;
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
  $(document).ready(function () {
    $('.form-check-input').click(function () {
      // Uncheck all other checkboxes in the same row
      $(this).closest('.row').find('.form-check-input').not(this).prop('checked', false);
    });
  });
</script>

<script>
  function toggleVisibility() {
    var otherQueryContainer = $('#otherQueryContainer');
    $('#id_query').val('');
    otherQueryContainer.toggle();
  }
</script>


<!-- <script>
 function addQuery() {
  $('#query-container .query-row').each(function() {
    var clone = $(this).clone();
    clone.find('input, textarea').val(''); // Clear input values
    $('#query-container').append(clone);
  });
}

function removeQuery(button) {
  $(button).closest('.query-row').remove();
}

</script> -->



<script>
  var storedQueries = [];

  function addQuery() {
    var queryRow = $('#query-container .query-row:first').clone();
    queryRow.find('input, textarea').val(''); // Clear input values
    $('#query-container').append(queryRow);
  }

  function saveQuery() {
    var category = $('#id_category').val();
    var query = $('#id_query').val();
    var other_query = $('#id_other_query').val();

    if (category && query) {

      storedQueries.push({ category: category, query: query ,other_query: 'None'});

      // Update the displayed queries
      updateQueryList();
      $('#id_category').val('');
      $('#id_query').val('');

      var message = "Query saved temporarily";
      document.getElementById("alert").innerText = message;

      //alert('Query saved temporarily.');
    } 
    else if (category && other_query) {

      storedQueries.push({ category: category, query: 'None' ,other_query: other_query });

      // Update the displayed queries
      updateQueryList();
      $('#id_category').val('');
      $('#id_other_query').val('');

      var message = "Query saved temporarily";
      document.getElementById("alert").innerText = message;

    }
    
    else {
      alert('Please fill in both category and query fields.');
    }
  }

  function removeQuery(index) {
    storedQueries.splice(index, 1);
    updateQueryList();
  }

  function updateQueryList() {
    var queryList = $('#query-list');
    queryList.empty();
    console.log('Im here at UpdateQuery')

    storedQueries.forEach(function (query, index) {
      queryList.append('<li style="font-size:small;">' +
        '<strong>Category:</strong> ' + query.category + '<br>' +
        '<strong>Query:</strong> ' + query.query + '<br>' +
        '<strong>Other_Query:</strong> ' + query.other_query +
        ' <button class="btn btn-danger btn-sm" style="padding:0px;border:none" onclick="removeQuery(' + index + ')">X</button>' +
        '</li>');
    });
  }

$('#submit-btn').click(function (event) {


  console.log('Processing data before form submission');
  
  console.log(JSON.stringify(storedQueries))
  $('#stored-queries-input').val(JSON.stringify(storedQueries));

});
</script>

<script>
$(document).ready(function() {
  // Array of sample questions
var questions = [
  "What documents do I need to bring to open a new bank account?",
  "Are there any minimum balance requirements for this account?",
  "How can I apply for a credit card?",
  "Can you provide information about loan options available?",
  "What is the interest rate on savings accounts?",
  "How do I set up online banking for the first time?",
  "What is the procedure for closing my account?",
  "Can you assist with a wire transfer?",
  "How can I update my contact information on the account?",
  "What security measures are in place for online transactions?",
  "Is there a mobile banking app available?",
  "What should I do if I suspect fraudulent activity on my account?",
  "Can you explain the overdraft policies?",
  "What are the options for depositing checks?",
  "How do I enroll in paperless statements?",
  "Can I add a joint account holder to my existing account?",
  "What is the process for disputing a charge?",
  "Are there any promotions or bonuses for opening a new account?",
  "How can I request a replacement debit card?",
  "What are the available customer support channels?",
  "Can you provide information about investment options?",
  "How do I change my PIN for the ATM card?",
  "Is there a fee for using ATMs outside of the bank's network?",
  "What is the process for updating my signature on file?",
  "How do I opt-out of certain account-related communications?",
  "Can you explain the process for ordering checks?",
  "What is the grace period for loan payments?",
];


  // Function to generate a random question
  function generateRandomQuestion() {
    var randomIndex = Math.floor(Math.random() * questions.length);
    return questions[randomIndex];
  }

  // Event listener for the button click
  $("#generateQuestionBtn").click(function() {
    // Get a random question
    var randomQuestion = generateRandomQuestion();
    
    // Update the textarea with the random question
    $("#id_other_query").val(randomQuestion);
  });
});
</script>


<script>
        function validateForm() {
            var form = document.getElementById("queryForm");
            var elements = form.elements;
            var emptyFields = [];

            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];

                if (element.tagName === 'INPUT' || element.tagName === 'SELECT' || element.tagName === 'TEXTAREA') {
                    if (element.hasAttribute('required')) {
                        if (element.value.trim() === '') {
                            emptyFields.push(element.name);
                        }
                    }
                }
            }

            if (emptyFields.length > 0) {
                alert("Please fill in the following required fields:\n" + emptyFields.join('\n'));
                
            } else {
                alert("Form submitted successfully!");
                // Add additional logic for form submission here
            }
        }
    </script>
{% endblock content %}
